<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1573817276252294</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>3eb754d1f3a70a2d1da5dfe67f35527d56bc4f7b</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>apikey</key>
					<string>d69e3eff197e4eabbf5372a9b5d998e6</string>
				</dict>
				<key>KitName</key>
				<string>Appsee</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1573817276252294</string>
	<key>FacebookDisplayName</key>
	<string>ThrilJunky</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>uber</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Open the bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Open the calendars</string>
	<key>NSCameraUsageDescription</key>
	<string>Open the Camera</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>ThrilJunky is monitoring your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ThrilJunky will use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>ThrilJunky would like to use your microphone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Open the photo library</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>Launch</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Login</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UberClientID</key>
	<string>7QP3VkyN9wtxCdtkN9J6mjLOde0dk9TH</string>
	<key>UberDisplayName</key>
	<string>ThrilJunky.</string>
	<key>UberServerToken</key>
	<string>u5TLWq1k6oCDEtC8Eb22DSO4yvX2PNdG2BpQFjSe</string>
</dict>
</plist>
